/* Adding proper font style */
h1 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15vw;
  font-size-adjust: 0.5;
  position: relative;
  left: -0.9vw;
  /* z-index: -1; */
}

h2 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6.8vw;
  font-size-adjust: 0.5;
  color: black;
}

h3 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3vw;
  font-size-adjust: 0.5;
  color: black;
}

h4 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.57vw;
  font-size-adjust: 0.5;
  color: black;
}

h5 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.57vw;
  font-size-adjust: 0.5;
  color: black;
}

p {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.57vw;
  font-size-adjust: 0.5;
  color: black;
}

/* Adding body proprieties*/
.body__color {
  background-color: #ffcb13;
}

.body__padding {
  padding-left: 2.08vw;
  padding-right: 2.08vw;
}

/* fixing some reset.css issues */
ul,
li {
  margin: 0;
  padding: 0;
}

body img {
  width: 200px;
}

/* adding fixed nav bar */

nav ul li a {
  text-decoration: none;
}

.nav__bar ul {
  background-color:#ffcb13;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 95.75%;
}

/*different screen nav height */
.nav__bar ul {
  height: calc(2vh + 95 * ((100vw - 390px) / (3440 - 390)));
  transition: height 0.15s linear;
}
