/* Adding proper font style */
h1 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15vw;
  font-size-adjust: 0.5;
  margin: 0;
}

h2 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6.8vw;
  font-size-adjust: 0.5;
  color: black;
  margin: 0;
}

h3 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3vw;
  font-size-adjust: 0.5;
  color: black;
}

h4 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.3vw;
  font-size-adjust: 0.5;
  color: black;
  margin: 0;
}

h5 {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.57vw;
  font-size-adjust: 0.5;
  color: black;
}

p {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.57vw;
  font-size-adjust: 0.5;
  color: black;
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* Adding body proprieties*/
.body__color {
  background-color: #ffcb13;
}

.body__padding {
  padding-left: 2.08vw;
  padding-right: 2.08vw;
}

/* creating the inter section hr for all devices */
.body-hr {
  height: 3px;
  background: black;
  border: none;
  margin-top: 11vh;
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
  .body-hr {
    height: 1px;
    margin-top: 4vh;
  }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
  .body-hr {
    height: 1px;
    margin-top: 5.5vh;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  .body-hr {
    height: 1.25px;
    margin-top: 6vh;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .body-hr {
    height: 1.5px;
    margin-top: 10vh;
  }
}

/* fixing some reset.css issues */
ul,
li {
  margin: 0;
  padding: 0;
}

.project__card img {
  width: 200px;
}

#temporary {
  width: 200px;
}

/* adding fixed nav bar */

nav ul li a {
  text-decoration: none;
}

.nav__bar ul {
  background-color: #ffcb13;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 95.75%;
}

.nav__decoy {
  height: calc(4vh + 120 * ((100vw - 390px) / (3440 - 390)));
  transition: height 0.15s linear;
}
/*different screen nav height */
.nav__bar ul {
  height: calc(4vh + 120 * ((100vw - 390px) / (3440 - 390)));
  transition: height 0.15s linear;
}

/* Creating the banner image and resizing it for mobile  */
.homepage-banner {
  background-image: url(images/banner_image.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4%;
}

/* media queries for resizing the background picture */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .homepage-banner {
    background-image: url(images/banner_image.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .homepage-banner {
    background-image: url(images/banner_image.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
  }
}

.homepage-banner__text-content h2 {
  margin-left: 1vw;
}

/* starting main css */
/* About me section */

.body-indentation {
  margin-top: 13vh;
  margin-left: 24vw;
}

/* fixing weird gap About Me and the banner on mobile */
@media only screen and (min-width: 290px) and (max-width: 400px) {
  .body-indentation {
    margin-top: 4vh;
    margin-left: 24vw;
  }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
  .body-indentation {
    margin-top: 5vh;
    margin-left: 24vw;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  .body-indentation {
    margin-top: 8vh;
    margin-left: 24vw;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .body-indentation {
    margin-top: 9vh;
    margin-left: 24vw;
  }
}

/* fixing weird gap About Me and the array on mobile */
.aboutme__array {
  padding-top: 7.5vh;
}

@media only screen and (min-width: 290px) and (max-width: 400px) {
  .aboutme__array {
    padding-top: 2.5vh;
  }
}
@media only screen and (min-width: 401px) and (max-width: 700px) {
  .aboutme__array {
    padding-top: 3.5vh;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  .aboutme__array {
    padding-top: 5vh;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .aboutme__array {
    padding-top: 6.5vh;
  }
}

/* creation a grid layout for my about me array */
.array-textline1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  row-gap: 0.75vh;
}

.array-textline1 > * {
  border-bottom: 1.5px solid #000;
}

.array-textline1 :nth-child(-n + 3) {
  border-top: 1.5px solid #000;
  padding-top: 0.75vh;
}

/* fixing some layout issue for the responsive */
